//import mixins

//variables
$map-img: url("map.png");


html * :not(.material-icons){
    font-family: "lato", sans-serif !important;
}

body {
    background-image: $map-img;
}

//Header content
.mdc-top-app-bar__title{
    font-family: "lato", sans-serif;
}

//Page content
.page-content{
    margin: 60px 20px;
    height: calc(100vh - 175px);
    @include cardLayout;

    .right-card-content, .left-card-content{
        height: 100%;
        width: 25%;
    }
}

//CARD DESIGN OVERRIDES


.mdc-card {
    margin-bottom: 16px;
    min-width: 200px;

    .mdc-card_content {
        padding: 16px;
    }
    .mdc-text-field{
        width: 100%;
        margin: 5px 0;
    }
    .fire-damange-detail{
       
        @include cardLayout;
    }

    .mdc-card-content-input{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
}
.areas-in-danger-card{
    .areas-in-danger-header{
        @include cardLayout;
    }
    .areas-in-danger-detail{
        @include cardLayout;
    }
}
.location-card{
    width: 20%;
    position: absolute;
    z-index: 2;
    bottom: 68px;
    margin-left: 40%;

    .mdc-typography--headline6{
        margin-bottom: unset;
        text-align: center;
    }

    .mdc-typography--subtitle2{
        margin-bottom: unset;
        text-align: center;
    }
}

//TABL DESIGN OVERRIDES
.mdc-tab-area{
    .content {
        display: none;
    }
    .content--active {
        display: flex;
    }
    .weather-tab{
        padding: 16px;
        justify-content: space-evenly;
    }
}

//CHECKBOX DESIGN OVERRIDES
// remove later~
.mdc-form-field {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.checkbox-area {
    display: flex;
    align-items: center;

}