//import mixins

//variables
$map-img: url("map.png");
// $critical: red;
// $major: orange;
// $moderate: blue;
// $safe: green;

//Change font colors based on class
.critical-area{
    p{
        color: $critical;
    }
}
.major-area{
    p{
        color: $major;
    }
}
.moderate-area{
    p{
        color: $moderate;
    }
}
.safe-area{
    p{
        color: $safe;
    }
}


html * :not(.material-icons):not(.fas){
    font-family: "lato", sans-serif !important;
}

body {
    background-image: $map-img;
}

//Header content
.mdc-top-app-bar{
    background-image: $primaryGradient;
    border-radius: 0 0 0 50px;
    .mdc-top-app-bar__row{
        height: 40px;
        .mdc-top-app-bar__section--align-end{
            margin-right: $unit;
            .mdc-button{
                height: 24px;
                background: white;
                color: orange;
                border-radius: 2px;
                margin-left: 4px;
                font-weight: 800;
                font-size: 12px;
                @include boxShadowOverride;
            }
        }
    }
    .mdc-top-app-bar__title{
        padding-left: 28px;
        font-weight: 700;
        font-size: 1rem;
    }
}

//Page content
.page-content{
    margin: 60px 20px;
    height: calc(100vh - 175px);
    @include cardLayout;

    .right-card-content, .left-card-content{
        height: 100%;
        width: 25%;
    }
}

//CARD DESIGN OVERRIDES
.mdc-card {
    margin-bottom: $unit;
    min-width: 200px;

    .mdc-card_content {
        padding: 8px 16px 16px 16px;
        .check-analysis-btn {
            margin-top: 8px;
            height: 24px;
            font-size: 12px;
            width: fit-content;
            align-self: flex-end;
        }
    }
    .mdc-text-field{
        width: 100%;
        margin: 8px 0;
    }
    .search-card-content{
        display: flex;
        flex-direction: column;
        .search-card-header{
            margin-bottom: unset;
        }
    }
    .map-options-card-content{
        .options-card-header{
            margin-bottom: unset;
        }
    }
    .mdc-typography--headline6 {
        font-size: 1rem;
        font-weight: 600;
        color: $greyShade3;
    }
    .material-icons{
        font-size: $unit;
    }
}
.areas-in-danger-card{
    .areas-in-danger-header{
        @include cardLayout;
    }
    .areas-in-danger-detail{
        @include cardLayout;
    }
}
.location-card{
    width: 25%;
    position: absolute;
    z-index: 2;
    bottom: 68px;
    margin-left: 40%;

    .location-card-content{
        padding: 2px 4px 4px 4px;
    }

    .mdc-typography--headline6{
        margin-bottom: -8px;
        text-align: center;
        font-size: 1.1rem;
        color: $primaryOrange;

    }

    .mdc-typography--subtitle2{
        margin-bottom: unset;
        text-align: center;
        font-size: 0.75rem;
    }
}
.wf-forecast-card{
    border: 2px solid $primaryOrange;
    .wf-label{
        font-size: 0.75rem;
        color: $greyShade3;
    }
    .major-forecast{
        margin-bottom: 8px;
        .wf-value{
            font-size: 2.5rem;
            font-weight: 100;
        }
    }
    .sub-forecast{
        display: flex;
        .wf-label{
            line-break: normal;
            text-align: center;
        }
        .wf-value{
            font-size: 1.75rem;
            font-weight: 100;
        }
    }
    .fire-damage-detail{
        @include cardLayout;
        display: flex;
        flex-direction: column;
        align-items: center;
        p{
            margin: 4px;
        }
    }
}


//TAB DESIGN OVERRIDES
.mdc-tab-area{
    .content {
        display: none;
    }
    .content--active{
        display: flex;
        flex-direction: column;
    }
    .weather-content{
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        .mdc-typography--headline1{
            margin: unset;
        }
        .main-weather-area{
            display: flex;
            flex-direction: column;
            align-items: center;
            .descriptive-weather{
                color: $greyShade3;
                .fas{
                    margin-right: 4px;
                    margin-top: 2px;
                }
            }
            .mdc-typography--headline3{
                margin: unset;
                color: $greyShade3;
            }
            .mdc-typography--subtitle2{
                margin-bottom: 4px;
            }
        }
        .sub-weather-area{
            color: $greyShade3;
            .weather-desc{
                display: flex;
                align-items: center;
                p{
                    margin: unset;
                }
                .fas{
                    margin-right: 4px;
                    margin-top: 2px;

                }
            }
            .humidity-span{
                .fas{
                    margin-right: 8px;
                }
            }
        }
    }
    .weather-tab{
        padding: $unit;
        display: flex;
        flex-direction: column;
        .descriptive-weather{
            display: flex;
        }
    }
    .fmc-tab{
        padding: $unit;
        display: flex;
        flex-direction: column;
        color: $greyShade3;
        .fmc-table-header{
            display: flex;
            justify-content: space-between;
            p{
                font-weight: 800;
                margin-bottom: 4px;
                font-size: 0.9rem;
            }
        }
        .mdc-typography--headline6{
            margin-bottom: 4px;
        }
        .fmc-table-content{
            .fmc-table-row{
                display: flex;
                justify-content: space-between;
                p{
                    margin-bottom: 4px;
                }
            }
        }
    }
    .mdc-typography--headline1{
        margin: unset;
    }
}
.mdc-tab{
    height: 30px;
    background: $greyShade0;
}
.mdc-tab-bar{
    .mdc-tab--active{
        background-image: $primaryGradient;
        .mdc-tab__content{
            .mdc-tab__text-label{
                color: white;
            }
        }
    }
}

.aid-card-content{
    display: flex;
    flex-direction: column;
    color: $greyShade3;
    .aid-table-header{
        display: flex;
        justify-content: space-between;
        p{
            font-weight: 800;
            margin-bottom: 4px;
            font-size: 0.9rem;
        }
    }
    .mdc-typography--headline6{
        margin-bottom: 4px;
    }
    .aid-table-content{
        .aid-table-row{
            display: flex;
            justify-content: space-between;
            p{
                margin-bottom: 4px;
            }
        }
    }
}

//CHECKBOX DESIGN OVERRIDES
// remove later~
.mdc-form-field {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.checkbox-area {
    display: flex;
    align-items: center;

}

//Text Input Overrides
.mdc-text-field{
    height: 30px;
    .mdc-text-field__input{
        font-size: $inputFontSize;
    }
    .mdc-notched-outline__notch{
        width: 60px;
        .mdc-floating-label{
            font-size: $inputFontSize;
            width: 90px;
        }
        .mdc-floating-label--float-above{
            font-size: 1rem;
            margin-top: 10px;
            color: $greyShade4;
        }
    }
}
.mdc-text-field.mdc-text-field--focused{
    .material-icons{
        color: $primaryOrange;
    }
}

//Checkbox Overrides
.options-checkbox-area{
    .checkbox-area{
        display: flex;
        label{
            color: $greyShade3;
        }
    }
    .mdc-checkbox{
        padding-bottom: 4px;
        .mdc-checkbox__background{
            width: 15px;
            height: 15px;
        }
    }
    .mdc-checkbox--selected{
        background: red;
    }
    .mdc-checkbox__ripple{
        display: none;
    }
}

hr{
    width: 100%;
    box-shadow: unset;
    border-style: ridge;    
    margin: 2px 0;
    border-top: 0.5px;
}
